body{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: #90ee90;
    background-color: #000000;
}

article{
    background-color: purple;
    color: white;
    padding: 44px;
    margin: 45px;
    font-size: 16px;
    border-radius: 25%;
}